

<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/carta.css">
      <title>carta</title>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="./controllers/carta.js"></script>
   </head>
   <body>
      <main class="main">
         <br>
         <label for="para">Para: </label>
         <input  type=text id="phonenumber" value="+55"> 
         <br><br>
         <textarea class="carta-correio" id="message"></textarea>
         <button class="enviar" onclick="sendSms()">Enviar</button>
      </main>
   </body>
</html>

© João Pedro Januário de Oliveira Santos - FREEFORMATTER is a d/b/a of 10174785 Brazil Inc. - Copyright Notice - Privacy Statement - Terms of Use
