<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../css/inicial.css" rel="stylesheet">

      <title></title>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   </head>
   <body>
      <div id="app" class="pagina-principal">
         <h1 id="texto-principal">Venha Enviar uma carta eletronica para alguém que você gosta!</h1>
         <a  href="../Paginas/formulario.html">
            <div id="botao-principal" >
               <div  class="botao-texto-principal">Vamos lá</div>
            </div>
         </a>
      </div>
      </div>
   </body>
</html>